<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

<!--	<bean id="dataSource"-->
<!--		class="org.apache.commons.dbcp.BasicDataSource">-->
<!--		<property name="url"-->
<!--			value="jdbc:sqlserver://localhost:1433;DatabaseName=Qmaker">-->
<!--		</property>-->
<!--		<property name="username" value="Qmaker_sa"></property>-->
<!--		<property name="password" value="123456"></property>-->
<!--		<property name="driverClassName"-->
<!--			value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>-->
<!--		-->
<!--	</bean>-->

	<context:component-scan base-package="action"/>
	<context:component-scan base-package="dao"/>
	<context:component-scan base-package="daoImpl"/>
	<context:component-scan base-package="service"/>
	<context:component-scan base-package="serviceImpl"/>
	<context:annotation-config/>

	<bean id="dataSource"
		  class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl"
				  value="jdbc:mysql://127.0.0.1:3306/qmaker?useSSL=false&amp;useUnicode=true&amp;characterEncoding=gbk">
		</property>
		<property name="user" value="root"></property>
		<property name="password" value="123456"></property>
		<property name="driverClass"
				  value="com.mysql.jdbc.Driver"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.use_sql_comments">false</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>entity/UserDoc.hbm.xml</value>
				<value>entity/QuestionnaireHeadInfo.hbm.xml</value>
				<value>entity/QuestionDetail.hbm.xml</value>
				<value>entity/OptionDetail.hbm.xml</value>
				<value>entity/AnswerSheetHeadInfo.hbm.xml</value>
				<value>entity/AnswerDetail.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	</beans>